header {
  background-color: #495e57;
  padding: 32px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  color: #fff;
}

.header-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-text > h1 {
  font-size: 40px;
  font-weight: 500;
  color: #f4ce14;
}

.header-text > p {
  max-width: 400px;
}

.header-img {
  width: 40%;
  overflow: hidden;
}

.header-img > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column-reverse;
    gap: 24px;
    max-width: 80%;
  }

  .header-img,
  .header-text {
    width: 100%;
  }
}
