.about-container {
  max-width: 1200px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.about-container img {
  width: 50%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 24px;
    max-width: 80%;
  }

  .about-container img {
    width: 100%;
  }
}
